// src/components/PasswordGenerator.scss

.password-generator {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: 1px solid grey;
    box-sizing: border-box;
  
    input[type="text"] {
      margin: 10px 0;
      padding: 10px;
    }

    input[type="range"] {
        width: 100%;
      }
  
    button {
      margin: 10px 0;
      padding: 10px;
      cursor: pointer;

      &.light-green {
        background-color: #5bffd8;
      }
    }

    .password-generator-settings {
        padding: 0;

        li {
            padding: 5px;
            list-style: none;

            label {
                cursor: pointer;
            }

            span {
                display: inline-block;
                padding-left: 10px;
            }

            input[type="checkbox"] {
            } 
        }
    }
  }